.app,
.control-btn div,
.inputs {
  display: flex;
}

.app {
  width: 300px;
  margin: 100px auto;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 5px 5px #14141415;
  padding: 50px;
  border-radius: 11px;
  background-color: #fafafa;
}
.inputs {
  align-items: center;
}
.control-btn {
  width: 75%;
  margin-top: 20px;
}
.control-btn div {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.control-btn div button {
  margin-bottom: 20px;
}
